@import "tailwindcss";


.bg-img-layout-home{
  background-image: url("/Wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img-layout-homePage-contacto{
  background-image: url("/Wallpaper2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-ourFamily{
   background-image: url("/nuestra-familia-deportiva-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


